In [1]:
import pandas as pd
import numpy as np

In [2]:
data=!wget http://54.72.28.201/1.0/population/1980/aged/18/?format=json

In [3]:
finaldata=pd.read_json ('index.html?format=json')

In [4]:
finaldata.head()

   age      country  females    males    total  year
0   18  Afghanistan   128443   134463   262906  1980
1   18       AFRICA  4742534  4798708  9541242  1980
2   18      Albania    29160    30565    59725  1980
3   18      Algeria   203168   212922   416090  1980
4   18       Angola    82360    81101   163461  1980

In [5]:
finaldata.describe()

         age       females         males         total    year
count  236.0  2.360000e+02  2.360000e+02  2.360000e+02   236.0
mean    18.0  1.197296e+06  1.250469e+06  2.447752e+06  1980.0
std      0.0  4.824464e+06  5.053707e+06  9.878057e+06     0.0
min     18.0  5.300000e+02  5.360000e+02  1.066000e+03  1980.0
25%     18.0  1.044850e+04  1.197100e+04  2.219850e+04  1980.0
50%     18.0  5.900350e+04  5.800000e+04  1.151840e+05  1980.0
75%     18.0  2.657372e+05  2.683388e+05  5.348260e+05  1980.0
max     18.0  4.277300e+07  4.468400e+07  8.745700e+07  1980.0

In [6]:
finaldata.set_index('year',inplace=True)

In [7]:
finaldata.columns

Index(['age', 'country', 'females', 'males', 'total'], dtype='object')

In [8]:
finaldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 1980 to 1980
Data columns (total 5 columns):
age        236 non-null int64
country    236 non-null object
females    236 non-null int64
males      236 non-null int64
total      236 non-null int64
dtypes: int64(4), object(1)
memory usage: 11.1+ KB

In [9]:
finaldata.shape

(236, 5)

In [10]:
country_no=finaldata.country.unique()

In [11]:
total_rows = finaldata['country'].count

In [12]:
total_rows

<bound method Series.count of year
1980               Afghanistan
1980                    AFRICA
1980                   Albania
1980                   Algeria
1980                    Angola
1980       Antigua and Barbuda
1980         Arab Rep of Egypt
1980                 Argentina
1980                   Armenia
1980                     Aruba
1980                      ASIA
1980                 Australia
1980     Australia/New Zealand
1980                   Austria
1980                Azerbaijan
1980               The Bahamas
1980                   Bahrain
1980                Bangladesh
1980                  Barbados
1980                   Belarus
1980                   Belgium
1980                    Belize
1980                     Benin
1980                    Bhutan
1980                   Bolivia
1980    Bosnia and Herzegovina
1980                  Botswana
1980                    Brazil
1980         Brunei Darussalam
1980                  Bulgaria
                 ...
1980                    Sweden
1980               Switzerland
1980           Syrian Arab Rep
1980                Tajikistan
1980                  Tanzania
1980                  Thailand
1980               Timor-Leste
1980                      Togo
1980                     Tonga
1980       Trinidad and Tobago
1980                   Tunisia
1980                    Turkey
1980              Turkmenistan
1980                    Uganda
1980                   Ukraine
1980      United Arab Emirates
1980            United Kingdom
1980             United States
1980         US Virgin Islands
1980                   Uruguay
1980                Uzbekistan
1980                   Vanuatu
1980                   Vietnam
1980            Western Africa
1980              Western Asia
1980            Western Europe
1980            Western Sahara
1980                     World
1980                    Zambia
1980                  Zimbabwe
Name: country, Length: 236, dtype: object>

In [13]:
import bokeh

In [16]:
from bokeh.io import show
from bokeh.plotting import figure

In [30]:
from bokeh.models import ColumnDataSource
source = ColumnDataSource(dict(
    x = finaldata.females,
    y = finaldata.males,
    country = finaldata.country
    ))

In [31]:
source.column_names

['x', 'y', 'country']

In [32]:
source.data['country']

year
1980               Afghanistan
1980                    AFRICA
1980                   Albania
1980                   Algeria
1980                    Angola
1980       Antigua and Barbuda
1980         Arab Rep of Egypt
1980                 Argentina
1980                   Armenia
1980                     Aruba
1980                      ASIA
1980                 Australia
1980     Australia/New Zealand
1980                   Austria
1980                Azerbaijan
1980               The Bahamas
1980                   Bahrain
1980                Bangladesh
1980                  Barbados
1980                   Belarus
1980                   Belgium
1980                    Belize
1980                     Benin
1980                    Bhutan
1980                   Bolivia
1980    Bosnia and Herzegovina
1980                  Botswana
1980                    Brazil
1980         Brunei Darussalam
1980                  Bulgaria
                 ...
1980                    Sweden
1980               Switzerland
1980           Syrian Arab Rep
1980                Tajikistan
1980                  Tanzania
1980                  Thailand
1980               Timor-Leste
1980                      Togo
1980                     Tonga
1980       Trinidad and Tobago
1980                   Tunisia
1980                    Turkey
1980              Turkmenistan
1980                    Uganda
1980                   Ukraine
1980      United Arab Emirates
1980            United Kingdom
1980             United States
1980         US Virgin Islands
1980                   Uruguay
1980                Uzbekistan
1980                   Vanuatu
1980                   Vietnam
1980            Western Africa
1980              Western Asia
1980            Western Europe
1980            Western Sahara
1980                     World
1980                    Zambia
1980                  Zimbabwe
Name: country, Length: 236, dtype: object

In [33]:
PLOT_OPTS = dict(
     height = 200, x_axis_type='log',
     x_range = (100,100000),y_range=(0,100),
)

In [34]:
from bokeh.models import HoverTool

In [35]:
hover = HoverTool(tooltips = '@country')
p = figure(tools =[hover],**PLOT_OPTS)

In [36]:
p.circle(x='x',y='y',source=source)
show(p)